{% extends 'base.html' %}

{% block title %}Profile{% endblock %}
{% block heading %}Profile{% endblock %}

{% block main_content_class %}p-6{% endblock %}
{% block outer_content %}
    {% block content %}
    <div class="bg-[#FFF4E0] w-full h-64 -translate-y-6 rounded-b-3xl z-20 relative">
        <h2 class="text-black text-3xl font-bold pt-[80px] pl-6 flex items-center gap-2">
            {{ username }}
            <a href="#" >
                <img src="../../static/Edit-solar.svg" alt="edit" class="inline-block w-5 h-5">
              </a>
            

        </h2>
        <p class="text-3xl pt-2 pl-6 font-thin">{{ role }}</p>
    </div>
    <div class="w-full z-10 -translate-y-64 relative flex justify-center">
        <img src="../../static/solar-profile.png" alt="solar-profile" class="w-[1550px] h-64 rounded-b-3xl">
    </div> 
    <div class="avatar flex justify-self-end">
        <div class="w-64 h-64 rounded-full ring-2 ring-[#000000] -translate-y-[450px] relative mr-48 z-30 p-1">
            <img src="../../static/Profile.png" class="w-full h-full rounded-full" />
        </div>
        
    </div>
    
    <div class="flex justify-self-end -translate-y-[450px] relative mr-[275px] mt-6">
        <div class="bg-[#9bebd8] border-2 border-[#00B087] text-[#008767] px-6 py-2 rounded-lg text-center ">
            <p>Active</p>
        </div>        
    </div>
    <div class="-translate-y-[610px]">
        <h2 class="text-black text-3xl font-bold pt-16 pl-6 flex items-center gap-2 ">
            Contact
            <a href="#"><img src="../../static/Edit-solar.svg" alt="edit" class="inline-block w-5 h-5"></a>
        </h2>
        <p class="text-3xl pt-2 pl-6 font-thin">{{ email }}</p>
    </div>
    {% endblock %}
{% endblock %}
