{% extends 'base.html' %} {% block title %}Admin - Users Management{% endblock%}
{% block heading %}Reports{% endblock %} {% block content %}
<div class="flex flex-row justify-between">
    <div class="flex flex-col">
        <div class="text-xl font-bold">Report</div>
    </div>
    <div>
        <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
    </div>
</div>
<div class="overflow-x-auto overflow-y-auto mt-8" style="max-height: calc(100% - 80px)">
    <table class="table">
        <!-- head -->
        <thead>
            <tr>
                <th>Report ID</th>
                <th>Name</th>
                <th>Reporter</th>
                <th>Total Power</th>
                <th>Uploaded Date</th>
                <th>View Detail</th>
            </tr>
        </thead>
        <tbody>
            {% for report in page_obj %}
            <tr>
                <td>{{ report.id }}</td>
                <td>{{ report.powerplant.name }}</td>
                <td>{{ report.reporter.display_name }}</td>
                <td>{{ report.energy_generated }}</td>
                <td>{{ report.createdAt }}</td>
                <td>
                    <a href="{% url 'report_detail' report.id %}" class="btn btn-info btn-sm">
                        View Detail
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="flex items-center justify-between">
    <div class="text-left">
        <div class="text-center text-sm text-gray-500 mt-2">
            Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} —
            {{ page_obj|length }} reports on this page,
            out of {{ page_obj.paginator.count }} total reports.
        </div>
  </div>
  <div class="text-right">
    </div>

    <div class="flex justify-center mt-4">
        <div class="join">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="join-item btn btn-sm">&lt;</a>
        {% else %}
        <button class="join-item btn btn-sm btn-disabled">&lt;</button>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
            <button class="join-item btn btn-sm btn-active">{{ num }}</button>
        {% elif num >= page_obj.number|add:-2 and num <= page_obj.number|add:2 %}
            <a href="?page={{ num }}" class="join-item btn btn-sm">{{ num }}</a>
        {% elif num == 1 or num == page_obj.paginator.num_pages %}
            <a href="?page={{ num }}" class="join-item btn btn-sm">{{ num }}</a>
        {% elif forloop.last or forloop.first %}
            <span class="join-item btn btn-sm btn-disabled">...</span>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="join-item btn btn-sm">&gt;</a>
        {% else %}
        <button class="join-item btn btn-sm btn-disabled">&gt;</button>
        {% endif %}
        </div>
    </div>

</div>
  </div>
{% endblock%}