{% extends 'base.html' %} {% block title %}Admin - Solar Management{% endblock%}
{% block heading %}Powerplant Management{% endblock %} {% block content %}
<div class="flex flex-row justify-between">
  <div class="flex flex-col">
    <div class="text-xl font-bold">Solar Plants</div>
    <div class="text-sm text-teal-400">Active Members</div>
  </div>
  <!-- Right: Search + Create -->
  <div class="flex items-center gap-10">
    <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
    <a href="{% url 'create' %}">
      <button class="btn btn-neutral">Create</button>
    </a>
  </div>
</div>
<div class="overflow-x-auto overflow-y-auto mt-8" style="max-height: calc(100% - 80px)">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>Plants ID</th>
        <th>Powerplant</th>
        <th>Total Tasks</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      {% for powerplant in powerplants %}
      <tr class="hover:bg-base-300">
        <td>{{powerplant.id}}</td>
        <td>{{powerplant.name}}</td>
        <td>{{powerplant.total_tasks}}</td>
        <td>
          <div class="badge {% if powerplant.status == 'active' %}badge-success{% else %}badge-error{% endif %}">
            {{powerplant.status}}</div>
        </td>
        <td>
          <a href="{% url 'solar_management_manage' powerplant_id=powerplant.id %}"
            class="btn btn-soft btn-accent">Manage</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock%}