{% extends 'base.html' %} {% load static %} {% block title %}Admin - Users
Management{% endblock%} {% block heading %}Users Management{% endblock %} {%
block content %} {% block content %}

<div class="flex flex-row justify-between">
  <div class="flex flex-col">
    <div class="text-xl font-bold">All Users</div>
    <div class="text-sm text-teal-400">Active Members</div>
  </div>
  <div>
    <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
  </div>
</div>
<div class="overflow-x-auto overflow-y-auto mt-8" style="max-height: calc(100% - 80px)">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>Username</th>
        <th>Powerplant</th>
        <th>Email</th>
        <th>Role</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->

      <!-- row 2 -->
      <tr class="hover:bg-base-300">
        <td>Hart Hagerty</td>
        <td>Desktop Support Technician</td>
        <td>Cy Ganderton</td>
        <td>Drone Controller</td>
        <td>
          <div class="badge badge-success">Active</div>
        </td>
        <td>
          <button class="btn btn-soft btn-accent">Manage</button>
        </td>
      </tr>

      <tr class="hover:bg-base-300">
        <td>Hart Hagerty</td>
        <td>Desktop Support Technician</td>
        <td>Cy Ganderton</td>
        <td>Drone Controller</td>
        <td>
          <div class="badge badge-error">Inactive</div>
        </td>
        <td>
          <button class="btn btn-soft btn-accent">Manage</button>
        </td>
      </tr>


    </tbody>
  </table>
</div>

{% endblock %}